# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages

before_install:
  - apt-get -y install ibudunits2-dev

after_success:
  - Rscript -e 'covr::coveralls()'
